.controlPanel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(129, 129, 129, 0.5);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
